<div class="row valign-wrapper" id="topbar">
  <div class="col s10 brand-logo">
 	<a href class="home_path"><%= image_tag 'cream2.png', class: 'img_left' %></a>   	
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>