<div class="card hoverable home">
    <div class="card-content">
      <div class="card-content">
      	<%= image_tag 'veggieTalesChars.png', class: 'img_center' %>
       	<span class="card-title"><em>About A&M Creamery</em></span>
      </div>
    </div>
</div>
<div class="card hoverable home">
	<div class="card-content">
		<p id="main_content">
			The A&M Creamery is a Ice Cream Store brought to you by yours truly, Alex and Mark Heimann.
			<br/><br/>
			The Heimann brothers established their first creamery in 2002 on the corner of Forbes  and Morewood Ave.
			<br/><br/>
			As they furociously battled the Underground's Late Night ice cream and single-handedly took on Millie's Ice Cream, The Heimann Brothers stayed at the top of the dessert competition with their exotic flavors of iNoodle and Gallo.
			<br/><br/>
			Since 2014, the A&M Creamery have dozens locations with 5 star ratings on Parthean!
		</p>
	</div>
</div>