<div class="row">    
  <div class="col s9">
    <div class="card hoverable">
      <div class="card-content">
	    <%= image_tag 'larryTheCucumber.png', class: 'img_left' %>
		<span class="card-title"><em>Contacting A&M Creamery</em></span>
        <p>Unfortunately, the A&M Creamery is still in the midst of becoming a large corporation, so if you want someoen to fix your code, here's the contact information below!
        </p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="card hoverable">
      <div class="card-content">
        <span class="card-title">Contact</span>
        <table cellpadding="3">
          <tr>
            <td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
            <td>Larry the Cucumber</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
            <%= mail_to("clui@andrew.cmu.edu") %> 
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>412-268-8211</td>
          </tr>
        </table>
        <p id="main_content" >*I am a part time Information Systems student at Carnegie Mellon 
          University and I am the webmaster of Parthean and Piazza on days that are not the night before the first midterm. My co-webmaster is Anna Yuan. &nbsp;&nbsp;&nbsp; 
        </p>
      </div>
    </div>
  </div>
</div>